<div>
  <form (submit)="submitForm()">
    <div>
      <table width="400">
        <tr>
          <td colspan="2"><h2>User Form</h2></td>
        </tr>
        <tr>
          <td width="100"><label for="firstName">First Name:</label></td>
          <td><input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required></td>
        </tr>
        <tr>
          <td width="100"><label for="lastName">Last Name:</label></td>
          <td><input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required></td>
        </tr>
        <tr>
          <td width="100"><label for="zipCode">Zip Code:</label></td>
          <td><input type="text" id="zipCode" [(ngModel)]="zipCode" name="zipCode" required></td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
      </table>
    </div>
  </form>
  <div *ngIf="statusMessage">
    {{ statusMessage }}
  </div>
</div>
